@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: hsl(180, 58%, 4%);
  color: white  ;
}
::selection {
  background-color: rgb(110, 231, 183); /* Change to the color you want */
  color: white; /* Change to the color you want for the selected text */
}
